

<div class="containerBody">

    <div class="containerWelcolme">

        <div class="moneda">
            <div class="sombra"></div>
            <div class="containerTextWelcome">
                <h1 class="">Bienvenidos a <span class="textBolder">Unicomer</span> </h1>
            </div>
        </div>



    </div>

    <div class="containerFormLogin">

        <div class="containerAllLogin">

        <div class="containerLogo">
            <img id="imgLogo" src="../../assets/img/logo.png" alt="">

        </div>

        <div class="form">
            <form action="">

                <div class="containerInput">
                    <label>Tipo de documento</label>
                    <input type="text">
                </div>

                <div class="containerInput">
                    <label>Numero de documento</label>
                    <input type="number" name="documentNumber" id="inputDocumentNumber">
                </div>

                <div class="containerInput">
                    <label>Clave</label>
                    <input type="password" name="password" id="inputPassword">
                </div>

                <div class="containerBtnSubmit">
                    <button id="btnSumbit">Ingresar</button>
                </div>

            </form>


        </div>

        <div class="containerVirtualKeyboard">
            <img src="../../assets/icons/teclado.png" alt="imgTecladoVirtual">
            <h4>Teclado virtual</h4>
        </div>
        <h4 class="textRegister">¿No tienes cuenta? Registrate aqui</h4>

    </div>
    </div>


</div>
